@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-padrao: "Montserrat", sans-serif;

    --cor-vermelho: #ff3131;
    --cor-laranja: #ff7015;
    --cor-amarelo: #ffad0e;
    --cor-preta: #1a1a1a;
    --cor-branca: #ffffff;

}
*{
    padding: 0;
    margin: 0;
    border: none;
}